* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #232830;
  color: white;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 7rem;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}

li {
  list-style: none;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.low-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}

.low-header>h2 {
  font-size: 71px;
  font-family: 'Recursive', sans-serif;
  font-family: 500;
  color: #FF7575;
  line-height: 100px;
  font-style: italic;
}

.low-header>p {
  font-weight: 400;
  font-size: 29px;
}

.menus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  line-height: 70px;
  font-weight: 200;
  font-size: 27px;
}

hr {
  margin: 4rem 0 0 0;
  color: rgb(58, 58, 58);
  width: 100%;
}

.bottom {
  margin: 4rem 0 1rem 0;
  color: rgb(58, 58, 58);
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  margin-top: 3rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 0;
  color: #0f1216;
  width: 380px;
  height: 360px;
  border-radius: 15px;
  font-weight: 500;
}

.cards img {
  width: 90%;
}

.pages {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 3rem 0;
  font-size: 1.5rem;
  font-style: italic;
}

.pages ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pages li:nth-child(3) {
  color: #FF7575;
  border-top: 2px solid #FF7575;
  font-weight: bolder;
}

footer {
  display: flex;
  justify-content: space-evenly;
  height: 7vh;
}

.left,
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

footer p {
  background: #4699E0;
  border-radius: 7px;
  margin-left: 0.5rem;
  padding: 0.5px 5px;
}